.Banner {
    text-align:center;
    .image{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/102127/pexels-photo-102127.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }  
}
  